@using Victuz_MVC.Enums
@model Victuz_MVC.Models.Activity

@{
    ViewData["Title"] = "Edit";
}

<h1>Aanpassen activiteit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">naam</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Beschrijving</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Locatie</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Limit" class="control-label">Limiet</label>
                <input asp-for="Limit" class="form-control" />
                <span asp-validation-for="Limit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label">Datum & Tijd</label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<ActivityStatus>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Huidige afbeelding</p>
            @if (Model.Picture is not null)
            {
                <img src="@Model.Picture.FilePath" width="100" />
            }
            </div>
            <div class="form-group">
                <label class="control-label">Afbeelding</label>
                <input name="file" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ActivityCategoryId" class="control-label">Categorie</label>
                <select asp-for="ActivityCategoryId" asp-items="ViewBag.ActivityCategoryId" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
