@model IEnumerable<Victuz_MVC.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn">Create new product category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn">Aanpassen</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-delete">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
