@model Victuz_MVC.Models.Enrollment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ingeschreven tijd
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrolledAt)
        </dd>
        <dt class = "col-sm-2">
            Account
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.Id)
        </dd>
        <dt class = "col-sm-2">
            Activiteit
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn">Aanpassen</a> |
    <a asp-action="Index" class="btn">Terug naar lijst</a>
</div>
