@{
    ViewData["Title"] = "Success";
}

<div class="container">
    <div class="row">
        <div>
            <p>Bedankt voor je bestelling!</p>
            <a asp-action="Index" asp-controller="Products">Verder winkelen</a>
        </div>
    </div>
</div>